html, body, #root {
  height: 100%;
}
#root {
 display: flex;
 flex-direction: column;
}
body{
    background-color: #E3E9E9;
    font-family: 'gotham' !important;
}

@font-face {
    font-family: "gotham";
    src: url('../assets/fonts/Gotham-Book.woff') format('woff'),
         url('../assets/fonts/Gotham-Book.woff2') format('woff2'),
         url('../assets/fonts/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
  }
// @font-face {
//   font-family: 'Gotham';
//   src: local('Gotham'), url("../assets/fonts/GothamLight.ttf") format("truetype");
//   /* other formats include: 'woff2', 'truetype, 'opentype',
//                             'embedded-opentype', and 'svg' */
// }

// @font-face {
//     font-family: 'GothamBold';
//     src: local('GothamBold'), url("../assets/fonts/GothamBold.ttf") format("truetype");
//     /* other formats include: 'woff2', 'truetype, 'opentype',
//                               'embedded-opentype', and 'svg' */
//     font-weight: bold;
//   }

textarea:focus, input:focus{
    outline: none;
}

::placeholder { /* Most modern browsers support this now. */
    color:    rgba(0, 0, 0, 0.26);
 }

.container {
    background-color: white;
    height: 75px;
    display: flex;
    border-bottom: 5px solid #0033A0;
    flex-direction: column;
    justify-content: center;
}

.subContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 52px;
    margin-right: 52px;
}

.mainContainer {
    margin-left: 52px;
    margin-right: 52px;
}
@media only screen and (max-width: 600px) {
    .subContainer,.mainContainer{
        margin-left: 10px;
        margin-right: 10px;
    }
    .MuiBox-root{
        width: 70% !important;

        .suspnedDesc {
            text-align: justify !important;
            width: auto !important;
        }
    }
}
.right{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.profileData {
    display: flex;
    margin-left: 10px;
}

@media (max-width: 600px) {
    .profileData {
        display: none;
    }
}

.icon {
    margin-right: 10px;
}