.suspendButton{
    // float:right;
    align-self: flex-end;
    border:1px solid #009A44;
    // margin-right:10px;
    padding-right:10px;
    padding-left:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 38px;
    border-radius: 3px;
    margin-bottom: 10px;
    cursor: pointer;

    p{
        color: #009A44;
    }
   
}

.MuiButtonBase-root {
    text-transform: capitalize !important;
}

.suspendButton:hover{
    background-color: #009A44;

    p{
        color: white;
    }
}

.profileEdit{
    float:right;
    border:1px solid #009A44;
    margin-top: 20px;
    margin-right:10px;
    padding-right:10px;
    padding-left:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #009A44;
    height: 38px;
    border-radius: 3px;
    cursor: pointer;

    p{
        color: #ffff;
    }

    
}

.profileCancel{
    float:right;
    border:1px solid #009A44;
    margin-top: 20px;
    margin-right:10px;
    padding-right:10px;
    padding-left:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 38px;
    border-radius: 3px;
    cursor: pointer;

    p{
        color: #009A44;
    }

    
}
.inputContainer{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

    input{
        padding: 10px;
        width: 80%;
        border: 1px solid #B2B4B2;
        border-radius:3px
    }

    input:disabled{
       color: #B2B4B2;
    }

    @media (max-width: 400px) {
        input { width: 50%;}
      }
}